*{
    box-sizing: border-box;
}
        
    
body {
    font-family: "Rubik Dirt", sans-serif ,system-ui;
    margin: 0;
    padding: 0;   
} 

.container {
    width: 100%;           
    max-width: 70%;     
    margin: 0 auto;        
    padding: 0px;         
    box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.3); 
}


header {
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 3px 80px rgba(0, 0, 0, 0.3);
    background-color: rgb(247, 237, 237);
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

header img {
    border-radius: 50%;
    padding: 4px;
    margin-left: 70px;  
}

.nav-logo:hover {
    box-shadow: 0 0 2px 1px orange;
}

.main-navigation {    
    align-content: center;
    margin-right: 140px;
}

.main-navigation a {
    color: orange;
    text-decoration: none;
    font-size: 26px;
}


.main-navigation ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;  
    padding: 0;
    
}

.main-navigation a:hover,
.main-navigation a:focus-visible {
    color: orangered;
}

.picture {
    background-image: url(img/pets-background.jpg);
    background-size: cover;
    background-position: 30% 46%;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1400px;
    height: 528px;
    /*padding: 10px 0 40px 0;*/
    margin: 0px;
    position: relative;
    border-radius: 12px;
}

.arrows-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0 40px;
    overflow: none;
    height: 100px;
}



.arrows {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    
    
  }
  
  .chevron {
    display: flex;
    width: 2.1rem;
    height: 0.48rem;
    opacity: 0;
    transform: scale(0.3);
    -webkit-animation: move-chevron 3s ease-out infinite;
            animation: move-chevron 3s ease-out infinite;
  }
  
  .chevron:first-child {
    -webkit-animation: move-chevron 3s ease-out 1s infinite;
            animation: move-chevron 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
    -webkit-animation: move-chevron 3s ease-out 2s infinite;
            animation: move-chevron 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
    content: "";
    position: absolute;    
    top: 0;
    height: 100%;
    width: 50%;
    background: #2c3e50;
  }
  
  .chevron:before {
    left: 0;
    transform: skewY(30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
  }
  
  @-webkit-keyframes move-chevron {
    25% {
      opacity: 1;
    }
    33.3% {
      opacity: 1;
      transform: translateY(2.28rem);
    }
    66.6% {
      opacity: 1;
      transform: translateY(3.12rem);
    }
    100% {
      opacity: 0;
      transform: translateY(4.8rem) scale(0.5);
    }
  }
  
  @keyframes move-chevron {
    25% {
      opacity: 1;
    }
    33.3% {
      opacity: 1;
      transform: translateY(2.28rem);
    }
    66.6% {
      opacity: 1;
      transform: translateY(3.12rem);
    }
    100% {
      opacity: 0;
      transform: translateY(4.8rem) scale(0.5);
    }
  }

  h2{
    font-family: "Delius", cursive;
    color: orange;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
  }

#category {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
}

a {
    text-decoration: none;  
    color: inherit;  
}

.pets {
    flex: 1;
    text-align: center;
    width: auto;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: cover;
   

}

.title {
    font-family: "Delius", cursive;
    font-weight: bold;
    font-style: normal;
    color: orange;
    text-decoration: none;
    font-size: 18px;

}

.pets:hover {
    box-shadow: 0 0 2px 1px orange;
    border-radius: 15%;
}

section {
  display: block;
  margin-top: 20px;
  box-shadow: 0 0 2px 1px orange;
}

footer{
  display: flex;
  gap: 100px;
  justify-content: center;
  background-color: rgb(247, 237, 237);
  width: 100%;
  color: orange;
  font-size: 18px;
  box-shadow: inset 0px 8px 6px -6px #888;
}